@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;700&family=Montserrat:wght@400;500;700&display=swap');

:root{
  --primary: #2B3A55; 
  --secondary1: #CE7777; 
  --secondary2: #E8C4C4; 
  --secondary3: #F2E5E5; 
  --gray: #f1f1f1;
  --font-text: 'Montserrat';
  --font-head: 'Barlow Condensed';
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--font-head);
  font-weight: bold;
}
h1{
  color: var(--secondary1);
  font-size: 2rem;
}
h2{
  color: var(--secondary1);
  font-size: 1.8rem;
}
.principal_layout{
  background: url('/assets/circles.svg') left bottom no-repeat, url('/assets/points.svg') 90% 50px  no-repeat, var(--secondary3);
  height: 100vh;
}